* {
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;

  --gray-color: #e4e4e4;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-color: #eee;
}

img {
  width: 100%;
}

header {
  border-bottom: 0.1rem solid var(--gray-color);
  background-color: white;
}

button {
  border: none;
}

.bottom-links-container button {
  border-left: 0.1rem solid var(--gray-color);
}

.flex-box {
  display: flex;
}

.nav-grid {
  display: grid;
  grid-template-areas: "logo hamburger";
}

.logo {
  width: 7rem;
  padding: 0.8rem 1.3rem;
  filter: contrast(3);
  background-color: black;
  grid-area: logo;
}

.glass {
  margin-left: auto;
}

.glass-logo {
  color: #a3a3a3;
  transform: scaleX(-1);
}

.hamburger-logo {
  color: #e04024;
}

.glass-logo,
.hamburger-logo {
  font-size: 1.5rem;
  padding: 0.65rem;
}

.top-links {
  padding: 0.1rem 0.8rem;
  font-size: 0.73rem;
  display: none;
}

.top-links span {
  display: inline-block;
  transform: rotate(90deg);
  font-size: 0.85rem;
}

.top-links a {
  color: var(--gray-color);
  text-decoration: none;
}

.top-links li {
  padding: 0.4rem 0.34rem;
  display: inline-block;
}

.buttom-links {
  font-size: 0.8rem;
  display: none;
  margin: auto 0.5rem;
  grid-area: links;
}

.buttom-links li {
  padding-left: 1rem;
  display: inline-block;
}

.buttom-links a {
  color: #a3a3a3;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .logo {
    margin: auto;
    padding: 27% 1.3rem;
  }

  .nav-grid {
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "logo top-links"
      "logo hamburger";
  }

  .top-links {
    background-color: black;
    color: var(--gray-color);
    display: flex;
    align-items: center;
    grid-area: top-links;
  }

  .margin-left {
    margin-left: auto;
  }

  .hamburger {
    display: none;
  }

  .buttom-links {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .nav-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "top-links"
      "hamburger";
  }

  .logo {
    display: none;
  }
}
